/node_modules
build/
venv/
.vscode/
.env
# Ignorar __pycache__ en cualquier nivel dentro de /backend/products/schema/
/backend/products/schema/**/__pycache__/

# Ignorar __pycache__ en cualquier nivel dentro de /backend/purchase/
/backend/purchase/**/__pycache__/

.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
populate_db.py*
