.product:hover{
  background-color: black;
}

.table-row-product{
  height: 70px;
  background-color: white;
  border: 1px solid #9c988f;
}

.table-row-product.description{
  width: 300px;
}

#products-table{
  margin: 50px;
  border-collapse: collapse;
  border-spacing: 0 15px;
  font-size: 1.0em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.title{
  text-align: center;
  
}


.table-row-product.image{
  width: 150px;
}

.image-product{
  width: 100px;
  height: 70px;
}

.in-cart{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.table-row-product.in-stock{
  width: 170px;
}

.table-row-product.mounting-technology{
  width: 140px;
}

.table-row-product.manufacturer{
  width: 170px;
}

input.in-cart-checkbox {
  width: 30px; /* Cambia el tamaño a lo que desees */
  height: 30px; /* Cambia el tamaño a lo que desees */
}


.table-hover tbody tr:hover {
  cursor: pointer; 
  background-color: #c4bfaf;
}


.filters{
  padding-top: 50px;
}

.filter-field{
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 130px;
}

.filter-group{
  margin-right: 30px;
}

.filter-submit{
  padding: 100;
  margin-right: 500px;
}

.filter-label{
  font-size: 15px;
  margin-bottom: 5px;
}

.type{
  width: 150px;
}


.raiting{
  width: 150px;
}


.mounting-surface{
  width: 100px;
}

.manufacturer{
  width: 200px;
}

.carousel > .carousel-inner > .carousel-item > img{
  width:1000; /* Yeap you can change the width and height*/
  height:380px;
}

.carousel-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  width: 100%;
  height: auto;
}


.options {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.box-product {
  text-align: center;
  width: 160px;
  height: 200px;
  border: 2px solid grey;
  margin: 7px;
  overflow: hidden;
  transition: transform 0.3s, z-index 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-product:hover {
  transform: scale(1.2);
  z-index: 1;
  cursor: pointer; 
}

.icon-product {
  max-width: 100%;
  max-height: 150px;
  display: block;
  margin: auto;
}

.log-form{
  width: 400px;
}
.form-floating {
  margin: 20px;
}

.cart-items-row {
  margin-top: 20px;

  width: 600px;
  margin-left: 40px;
}

.cart-item-list {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item-list .product-name {
  margin-left: 20px;
  min-width: 200px;
}

.cart-item-list .product-price {
  margin: 0;
  margin-left: 10px;
  width: 64px;
}

.cart-item-list .plus_minus_icon,
.cart-item-list .x_icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.cart-item-list .x_icon {
  margin-right: 30px;
}

.cart-item-list .count {
  margin: 0 10px;
  color: #333;
  font-weight: bold;
}

.mi-boton {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #00457c;
  color: #00457c;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

#no-items-in-cart h3 {
  margin-left: 100px;
  margin-bottom: 300px;
}

#no-items-in-cart hr {
  border: none;
  border-left: 3px solid hsla(200, 10%, 50%, 100);
  height: 50vh;
  width: 2px;
}

/* Efecto hover para resaltar el botón */
.mi-boton:hover {
  background-color: #00457C;
  color: #fff;
}

/* product view  */

#pdf-icon {
    width: 10%;
    height: 10%;
}
#cover-image-product{
    padding: 20px;
    padding-bottom: 30px;
    height: 200px;
    width: 300px;
}

/* Ajustes de margen para reducir la distancia entre las columnas names y values */

.main-attributes{
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main-attributes td{
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  padding-left: 10px;
  height: 40px;


}
.main-attributes .ModelCell{
  border-bottom: 1px solid black;
  border-right: 1px solid #ddd;
  text-align: center;
  height: 40px;

}
.main-attributes table{
  width: 300px;
  padding: 50px;
  height: 150px;
  margin-bottom: 50px;

}

.main-attributes{
  height: 500px;
  padding: 20px;
}

.product-attributes{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

#cart-icon:hover{
  cursor: pointer; 
}


/* Spinner */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.purchased-products {
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: -15px; /* Ajusta el margen negativo para compensar el espaciado entre filas */
  border-radius: 10px;
  }

.column-headears th,
.column-values td {
  padding: 15px; /* Ajusta el espacio interno */
  text-align: center;
  font-family: 'Arial', sans-serif; /* Cambia la fuente según sea necesario */
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Añade un borde inferior */
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);    

}

.column-headears th {
  background-color: #f2f2f2;
  border: none; /* Elimina los bordes en estas celdas */

}

.column-values tr {
  margin-bottom: 10px; /* Ajusta el margen entre filas según sea necesario */
}

.column-values .image,
.column-values .product-name,
.column-values .product-price,
.column-values .plus_minus_icon,
.column-values .x_icon,
.column-values .count {
  border: none; /* Elimina los bordes en estas celdas */
}

.column-values .image {
  width: 100px; /* Ajusta el ancho según sea necesario */

}

.column-values .product-name {
  margin-left: 20px;
  width: 280px;
}

.column-values .product-price {
  margin: 0;
  margin-left: 10px;
  width: 100px;
}

.column-values .product-qunatity {
  margin: 0;
  margin-left: 10px;
  width: 200px;
}

.column-values .product-total {
  margin: 0;
  margin-left: 10px;
  width: 100px;
}

.column-values .product-mounting-technology{
  margin: 0;
  margin-left: 10px;
  width: 50px;
}

.column-values .product-image img {
  width: 80px; /* Ajusta el ancho según sea necesario */
  height: 60px;

}

.container h1 {
  font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #3498db; /* Color del texto */
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}
