.product:hover{
  background-color: black;
}

.table-row-product{
  height: 70px;
  background-color: white;
  border: 1px solid #9c988f;
}

.table-row-product.description{
  width: 300px;
}

#products-table{
  margin: 50px;
}

.table-row-product.image{
  width: 150px;
}

.image-product{
  width: 130px;
  height: 70px;
}

.in-cart{
  width: 10%;
}

.in-cart-checkbox{
  display: flex;
  justify-content: center;
  align-items: center;  width: 24px;
  height: 24px;
}


.table-hover tbody tr:hover {
  cursor: pointer; 
  background-color: #c4bfaf;
}


.filters{
  padding-top: 50px;
}

.filter-field{
  margin-right: 10px;
  margin-bottom: 20px;
}

.filter-group{
  margin-right: 30px;
}

.filter-submit{
  padding: 100;
  margin-right: 500px;
}

.type{
  width: 150px;
}


.raiting{
  width: 150px;
}


.mounting-surface{
  width: 100px;
}

.manufacturer{
  width: 200px;
}

.carousel > .carousel-inner > .carousel-item > img{
  width:1000; /* Yeap you can change the width and height*/
  height:600px;
}

.carousel-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  width: 100%;
  height: auto;
}


.options {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.box-product {
  text-align: center;
  width: 160px;
  height: 200px;
  border: 2px solid grey;
  margin: 7px;
  overflow: hidden;
  transition: transform 0.3s, z-index 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-product:hover {
  transform: scale(1.2);
  z-index: 1;
  cursor: pointer; 
}

.icon-product {
  max-width: 100%;
  max-height: 150px;
  display: block;
  margin: auto;
}

.log-form{
  width: 400px;
}

.plus_minus_icon{
  width: 15px;
  height: 15px;
}


.mi-boton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #00457C;
  color: #00457C; 
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover para resaltar el botón */
.mi-boton:hover {
  background-color: #00457C;
  color: #fff;
}

/* product view  */

#pdf-icon {
    width: 10%;
    height: 10%;
}
#cover-image-product{
    padding: 20px;
    padding-bottom: 30px;
}

/* Ajustes de margen para reducir la distancia entre las columnas names y values */

.main-attributes{
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main-attributes td{
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  padding-left: 10px;
  height: 40px;


}
.main-attributes th{
  border-bottom: 1px solid black;
  border-right: 1px solid #ddd;
  text-align: center;
  height: 40px;

}
.main-attributes table{
  width: 100%;
  padding: 50px;
  margin-bottom: 50px;

}

.main-attributes{
  height: 650px;
  padding: 20px;
}

.product-attributes{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}
